@page "/"  
@using RabbitMQ.Front.Pages  
@rendermode InteractiveServer

<h1>Realizando testes com o RabbitMQ</h1>  

<div>  
    <h3>Contador: @contador</h3>  
    <br />  
    <button @onclick="Adiciona">Adicionar</button>  
    <button @onclick="Diminui">Diminuir</button>  
    <button @onclick="Zera">Zerar</button>  
</div>  

@code {  
    private int contador { get; set; } = 0;  

    public void Adiciona() => contador++;  

    public void Diminui() => contador -= 1;  

    public void Zera() => contador = 0;  
}
