@page "/user/list"
@rendermode InteractiveServer
@inject HttpClient http
@using RabbitMQ.Front.Models

<div class="user-list-content">
    <h1>User List</h1>
    @if (Users != null && Users.Any())
    {
        <ul>
            @foreach (var user in Users)
            {
                <li>@user.Name - @user.Email</li>
            }
        </ul>
    }
    else
    {
        <p>No users found.</p>
    }
</div>

@code {
    public List<User>? Users { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Users = await http.GetFromJsonAsync<List<User>>("user");

            Console.WriteLine("User list initialized successfully.");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error initializing user list: {ex.Message}");
        }
    }
}
